/* smooth scrolling */

html {
  scroll-behavior: smooth;
}

.ed2 {
  position: absolute;
  top: 100px;
  left: 1030px;
}

/* Css for the width between 281px and 581px */

@media screen and (min-width:281px) and (max-width:581px) {
  
  html {
    font-size: 40px;
  }

  .body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  .title {
    font-size: 1rem;
    left: 280px;
    width: 22%;
  }

  .Menu {
    font-size: 0.8rem;
    right: 775px;
    width: 60%;
    top: 60px;
  }

  .life {
    width: 600px;
    left: 30px;
    top: 45px;
    font-size: medium;
    margin-left: 70px;
  }

  .hero img {
    position: relative;
    top: 700px;
    left: 120px;
    height: 500px;
    width: 550px;
  }

  #tohp {
    position: relative;
    top: 650px;
    left: 520px;
  }

  .events img{
    position: relative;
    left: 70px;
    top: 80px;
    height: 530px;
    width:700px;
    filter: blur(6px);
  }

  .ed1{
    font-size: 0.3rem;
    top: 550px;
    width: 30%;
    left: 100px;
    z-index: 1;
    color: yellow;
  }

  .ed2{
    position: relative;
    font-size: 0.3rem;
    top: 550px;
    left: 600px;
    width: 30%;
    z-index: 1;
    color: yellow;
  }

  .sidebar{
    position: relative;
    left: 75px;
    top: 90px;
    font-size: small;
    width: 180px;
    height: 120px;
  }

  .wars{
    width: 60px;
  }

  .divider{
    display: none;
  }

  .Victory{
    position: relative;
    width: 60px;
    left: 10px;
    top: 60px;
  }

  .vi{
    position: relative;
    left: 275px;
    top: -35px;
    width: 455px;
    height: 120px;
  }

  .vi img{
    position: relative;
    width: 455px;
    height: 120px;
  }

  .warsmemo{
    position: absolute;
    left: 70px;
    top: 230px;
    width: 650px;
    font-size: small;
    height: 500px;
  }

  .death_page{
    position: relative;
    left: 80px;
    top: 300px;
    width: 630px;
    font-size: small;
  }
   
  .death_note{
    position: absolute;
    top: 100px;
    left: 140px;

  }

  .death_page img{
    position: relative;
    width: 635px;
    height: 900px;
    filter: blur(10px);
  }

  .signature{
    position: relative;
    left: 150px;
    
  }
  
   .signature h1{
    position: absolute;
    top: 70px;
   }

  .signature h3{
    position: absolute;
    top: 240px;
  }
}

/* Css for the width between 0 and 280px */

@media screen and (max-width: 280px) {
  html {
    font-size: 30px;
  }

  .body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  .title {
    font-size: 1rem;
    left: 230px;
  }

  .Menu {
    font-size: 0.8rem;
    right: 775px;
    width: 60%;
    top: 60px;
  }

  .life {
    width: 600px;
    top: 45px;
    margin-left: 40px;
  }

  .hero img {
    position: relative;
    top: 500px;
    left: 120px;
    height: 500px;
    width: 450px;
  }

  #tohp {
    position: relative;
    top: 450px;
    left: 390px;
  }

  .events img{
    height: 500px;
    width:650px;
    filter: blur(6px);
  }

  .ed1{
    font-size: 0.4rem;
    top: 490px;
    width: 40%;
    left: 30px;
    z-index: 1;
    color: yellow;
  }

  .ed2{
    position: relative;
    font-size: 0.4rem;
    top: 490px;
    left: 510px;
    width: 40%;
    z-index: 1;
    color: yellow;
  }

  .sidebar{
    font-size: small;
    width: 210px;
    height: 120px;
  }

  .wars{
    width: 90px;
  }

  .divider{
    display: none;
  }

  .Victory{
    position: relative;
    left: 10px;
    top: 60px;
  }

  .vi{
    position: relative;
    left: 230px;
    top: -85px;
    width: 410px;
    height: 120px;
  }

  .vi img{
    position: relative;
    width: 410px;
    height: 120px;
  }

  .warsmemo{
    position: absolute;
    top: 180px;
    width: 630px;
    font-size: small;
    height: 500px;
  }

  .death_page{
    position: relative;
    top: 200px;
    width: 630px;
    font-size: small;
  }
   
  .death_note{
    position: absolute;
    top: 100px;
    left: 140px;

  }

  .death_page img{
    position: relative;
    width: 635px;
    height: 900px;
    filter: blur(10px);
  }

  .signature{
    position: relative;
    left: 150px;
    
  }
  
   .signature h1{
    position: absolute;
    top: 70px;
   }

  .signature h3{
    position: absolute;
    top: 240px;
  }
}

