body{
    background-color:#6FEFC140;
    padding: 0;
    margin: 0;
}
        

.nav{
    display: inline-block;
}

.title{
    position: relative;
    width: 220px;
    height: 40px;
    top:39px;
    left:125px;
    text-align: center;
    font-family: 'Inika',Inika_Local;
    font-size: 36px;
}

.nav .title:hover{
    border: 3.5px solid #BE6161;
    color: #BE6161;
    font-size: 32px;
    cursor: pointer;
}

.Menu {
    position: relative;
    margin-left: 855px;
    width: 480px;
    height: 40px;
}

li{
    height: 40px;
    list-style: none;
    float: left;
    margin: 30px;
    margin: 25px;
    margin-top:0px;
    text-align: center;
    
}

.Menu li a:hover,.active{
    border: 2px solid black;
    color: black;
}

a{
    text-decoration: none;
    color:#BE6161;
    font-family:'Inika',Inika_Local;
    font-weight: 400;
    padding: 5px;
}

.life{
 width: 862px;
 height: 350px;
 text-align: center;
 position: relative;
 top: -20px;
 bottom: 54px;
 left:12px;
 font-family:'Inika',Inika_Local;
 font-weight: 200;
 font-size: 13.5px;
}

.hero img{
    width: 406px;
    height: 463px;
    position: absolute;
    top:130px;
    left:907px;
    border-radius: 30px;
    mix-blend-mode: luminosity;
}

#tohp{
    position: absolute;
    width: 150px;
    height: 10px;
    top: 533px;
    left: 1179px;
    color: white;
    font-family: 'Inika',Inika_Local;
    font-size: 13px;
}

.events{
    padding: 0;
    margin: 0;
    position: relative;
    top:139px;
}
.events img{
    width: 1350px;
    height: 640px;
}

.ed1{
    width: 274px;
    height: 400px;
    position: absolute;
    top:110px;
    left:34px;
    color: #FFFFFF;
    font-family:Inika_Local;
    text-align: center;
    padding-top: 60px;   
}

.ed2{
    width: 274px;
    height: 400px;
    position: absolute;
    top:110px;
    right:34px;
    color: #FFFFFF;
    text-align: center;
    font-family: Inika_Local;
    padding-top: 60px;
}

@font-face {
    font-family:Inika_Local;
    src: url(./Fonts/Inika/Inika-Regular.ttf);
}


.wv{
  width: 1365px;
  height: 627px;
  position: relative;
  top:135px;
  }

.sidebar{
    position: relative;
    top:40px;
    left:10px;
    width: 410px;
    height: 181px;
    border: 2px solid red;
}

.wars{
    position:absolute;
    left: 10px;
    top:10px;
    /* border: 2px solid red; */
    color: black;
    padding: 15px 50px;
    background-color:#4be6f0;
    font-family: 'Inika',Inika_Local;
    width: 70px;
}

.Victory{
    position: absolute;
    right: 10px;
    bottom: 10px;
    /* border: 2px solid red; */
    color: black;
    padding: 15px 50px;
    background-color: #EC1212;
    font-family: 'Inika',Inika_Local;
    width: 90px;
}

.divider{
    position: relative;
    left: 192px;
    top:8px;
    border: 2px solid black;
    background-color: black;
    width: 5px;
    height: 158px;
}

.vi{
   position: relative;
   left: 430px;
   top:-145px;
   border: 2px solid green;
   width: 900px;
   height: 181px;
}

  .vi img{
    width:900px;
    height:181px;
 }

 .warsmemo{
    border: 2px solid black;
     width: 1320px;
     height: 344px;
     position: absolute;
     bottom: 10px;
     left: 10px;
 }

 .wars-title{
    font-family:'Inika',Inika_Local;
    font-size: 17px; 
    color: #e90a0a;
    text-align: center;
 }

  .about-war{
    font-family:'Inika',Inika_Local;
    font-size: 12px;
    text-align: center;
 }
 